


.default-color2.chart-series-line{
    -fx-stroke: #25961b;
    -fx-stroke-width: 3px;
}

.default-color2.chart-legend-item-symbol{
    -fx-background-color: #25961b;
}



    /* upper and lower control limits */
    
.default-color0.chart-series-line, .default-color1.chart-series-line{
    -fx-stroke: #2b62d9;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 2 4;
}

.default-color0.chart-legend-item-symbol, .default-color1.chart-legend-item-symbol{
    -fx-background-color: #2b62d9;
}