


.default-color0.chart-pie{
    -fx-pie-color: #e3241e;
    -fx-background-color: #e3241e;
}

.default-color1.chart-pie{
    -fx-pie-color: #ff9721;
    -fx-background-color: #ff9721;
}

.default-color2.chart-pie{
    -fx-pie-color: #f5e536;
    -fx-background-color: #f5e536;
}

.default-color3.chart-pie{
    -fx-pie-color: #209e30;
    -fx-background-color: #209e30;
}

.default-color4.chart-pie{
    -fx-pie-color: #5743d9;
    -fx-background-color: #5743d9;
}

.default-color5.chart-pie{
    -fx-pie-color: #ac34b3;
    -fx-background-color: #ac34b3;
}

.default-color6.chart-pie{
    -fx-pie-color: #ababab;
    -fx-background-color: #ababab;
}

.default-color7.chart-pie{
    -fx-pie-color: #a38a39;
    -fx-background-color: #a38a39;
}

