
*{
    -fx-font-family: "Times New Roman";
}


.default-color0.chart-series-line, .default-color1.chart-series-line{
    -fx-stroke: #767676;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 2 4;
}